<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Edit Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body class="createPerson">
<header class="header">
    <h1 class="addH1">Create a Person:</h1>
</header>
<br />

<form th:action="@{/addPerson}" th:object="${newUser}" method="POST">

   <div class="container">

       <table class="addPersonTable" border = "1">
           <tr>
               <td> <label class="labelLinks">First Name:</label></td>
               <td> <input class="inputRechts" type="text" th:field="*{name}" /></td>
           </tr>

           <tr>
               <td> <label class="labelLinks">Last Name:</label></td>
               <td> <input class="inputRechts" type="text" th:field="*{vorname}" /></td>
           </tr>

           <tr>
               <td> <label class="labelLinks">Email:</label></td>
               <td> <input class="inputRechts"  type="text" th:field="*{email}" /></td>
           </tr>

           <tr>
               <td> <label class="labelLinks"> Phone:</label></td>
               <td> <input class="inputRechts" type="text" th:field="*{telefon}" /></td>
           </tr>

           <tr>
               <td> <label class="labelLinks">Strasse:</label></td>
               <td> <input class="inputRechts" type="text" th:field="*{strasse}" /></td>
           </tr>

           <tr>
               <td> <label class="labelLinks">Place:</label></td>
               <td> <input class="inputRechts" type="text" th:field="*{ort}" /></td>
           </tr>

           <tr>
               <td> <label class="labelLinks">PLZ:</label></td>
               <td> <input class="inputRechts" type="text" th:field="*{plz}" /></td>
           </tr>

           <tr>
               <td> <label class="labelLinks">Sex:</label></td>
               <td> <input class="inputRechts" type="text" th:field="*{Sex}" /></td>
           </tr>

           <tr>
               <td> <label class="labelLinks">Geburtstag:</label></td>
               <td> <input class="inputRechts" type="text" th:field="*{geburtstag}" /></td>
           </tr>

           <tr>
               <td> <label class="labelLinks">Spitzname:</label></td>
               <td> <input class="inputRechts" type="text" th:field="*{spitzname}" /></td>
           </tr>

       </table>

       <br><br>
    <input type="submit" value="Create" />
       <br><br>

   </div>
</form>

<br />

<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color: red; font-style: italic;"></div>
</body>
<footer class="footer"><p>2020 Ernest Jewczyn</p></footer>
</html>
