<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles.css}" />
</head>
<body class="editPerson">
<header class="headerEdit">
    <h1>Edit a Person:</h1>
</header>
<br>

<form th:action="@{/editPerson/update/{id}}" th:object="${editUser}" method="POST">

    ID:
    <input type="text" th:field="*{id}" />
    <br/>
    First Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Last Name:
    <input type="text" th:field="*{vorname}" />
    <br/>
    Email:
    <input type="text" th:field="*{email}" />
    <br/>
    Phone:
    <input type="text" th:field="*{telefon}" />
    <br/>
    Strasse:
    <input type="text" th:field="*{strasse}" />
    <br/>
    Place:
    <input type="text" th:field="*{ort}" />
    <br/>
    PLZ:
    <input type="text" th:field="*{plz}" />
    <br/>
    Sex:
    <input type="text" th:field="*{Sex}" />
    <br/>
    Geburtstag:
    <input type="text" th:field="*{geburtstag}" />
    <br/>
    Spitzname:
    <input type="text" th:field="*{spitzname}" />
    <br/>
    <input type="submit" value="Create" />
</form>

<br />

<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color: red; font-style: italic;"></div>
</body>
<footer class="footerPerson"><p>2020 Ernest Jewczyn</p></footer>
</html>