<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Index2</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<div class="jumbotron jumbotron">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Hello Person List</h1>
            <p class="lead">People who are in the database...</p>
        </div>
        <div class="col col-lg-2">
            <br><br>
            <button type="button" class="btn btn-primary btn-lg btn-block">Create Person</button>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <table class="table table-bordered table-dark">
            <tr align="center">
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">eMail</th>
                <th scope="col">Number</th>
                <th scope="col">Address</th>
                <th scope="col">Place</th>
                <th scope="col">Postcode</th>
                <th scope="col">Sex</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Nickname</th>
                <th scope="col">Actions on Row</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:utext="${user.name}">...</td>
                <td th:utext="${user.vorname}">...</td>
                <td th:utext="${user.email}">...</td>
                <td th:utext="${user.telefon}">...</td>
                <td th:utext="${user.strasse}">...</td>
                <td th:utext="${user.ort}">...</td>
                <td th:utext="${user.plz}">...</td>
                <td th:utext="${user.sex}">...</td>
                <td th:utext="${user.geburtstag}">...</td>
                <td th:utext="${user.spitzname}">...</td>
                <td align="center"><a th:href="@{/editPerson/update/{id}(id=${user.id})}">Edit</a> | <a
                        th:href="@{/delete/{id}(id=${user.id})}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        </table>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="../css/js/bootstrap.js" th:href="@{../css/js/bootstrap.js}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    </div>
</div> <!-- /container -->
</body>

<!--Footer-->
<footer class="page-footer font-small blue">

    <!-- Copyright-->
    <div class="footer-copyright text-center py3">© 2020 Copyright: EJE</div>

</footer>

</html>