<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles.css}" />
</head>
<body class="personList">
<header class="header">
    <h1>EJE</h1>
</header>
<div>
    <h2>Customer List</h2>
    <button type="button"><a href="addPerson">Create Customer</a></button>
</div>
<br />
<hr />

<form class="suche" th:action="@{/personList/suche}">
    Search: <input type="text" name="keyword" id="keyword" size="30" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    <br />
    <br />
    <div>
        <table border="1">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>eMail</th>
                <th>Number</th>
                <th>Address</th>
                <th>Place</th>
                <th>Postcode</th>
                <th>Sex</th>
                <th>Date of birth</th>
                <th>Nickname</th>
                <th>Actions on Row</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:utext="${user.name}">...</td>
                <td th:utext="${user.vorname}">...</td>
                <td th:utext="${user.email}">...</td>
                <td th:utext="${user.telefon}">...</td>
                <td th:utext="${user.strasse}">...</td>
                <td th:utext="${user.ort}">...</td>
                <td th:utext="${user.plz}">...</td>
                <td th:utext="${user.sex}">...</td>
                <td th:utext="${user.geburtstag}">...</td>
                <td th:utext="${user.spitzname}">...</td>
                <td align="center"><a th:href="@{/editPerson/update/{id}(id=${user.id})}">Edit</a> | <a th:href="@{/delete/{id}(id=${user.id})}" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
        </table>
        <br />
    </div>
</form>
</body>

<footer class="footerPerson"><p>2020 Ernest Jewczyn</p></footer>
</html>
